# Series

* A Series is very similar to a NumPy array (in fact it is built on top of the NumPy array object).
* What differentiates the NumPy array from a Series, is that a Series can have axis labels, meaning it can be indexed by a label, instead of just a number location.
* It also doesn't need to hold numeric data, it can hold any arbitrary Python Object.

In [28]:
import numpy as np
import pandas as pd

In [29]:
# help(pd.Series)
# This command show all properties of Series

## Index and Data Lists

We can create a Series from Python lists (also from NumPy arrays)

In [30]:
myindex = ['USA' , 'Canada' , 'Mexico']

In [31]:
mydata = [1776,1867,1821]

In [32]:
myser = pd.Series(data=mydata)

In [33]:
myser

0    1776
1    1867
2    1821
dtype: int64

In [34]:
pd.Series(data=mydata,index=myindex)

USA       1776
Canada    1867
Mexico    1821
dtype: int64

In [35]:
ran_data = np.random.randint(0,100,4)

In [36]:
ran_data

array([73, 89, 89, 74])

In [37]:
names = ['Andrew','Bobo','Claire','David']

In [38]:
ages = pd.Series(ran_data,names)

In [39]:
ages

Andrew    73
Bobo      89
Claire    89
David     74
dtype: int32

## From a Dictionary

In [40]:
ages = {'Sammy':5,'Frank':10,'Spike':7}

In [41]:
ages

{'Sammy': 5, 'Frank': 10, 'Spike': 7}

In [42]:
pd.Series(ages)

Sammy     5
Frank    10
Spike     7
dtype: int64

# Key Ideas of a Series

## Named Index

In [43]:
q1 = {'Japan': 80, 'China': 450, 'India': 200, 'USA': 250}
q2 = {'Brazil': 100,'China': 500, 'India': 210,'USA': 260}

In [44]:
# Convert into Pandas Series
sales_Q1 = pd.Series(q1)
sales_Q2 = pd.Series(q2)

In [45]:
sales_Q1

Japan     80
China    450
India    200
USA      250
dtype: int64

In [46]:
sales_Q2

Brazil    100
China     500
India     210
USA       260
dtype: int64

In [47]:
# Call values based on Named Index
sales_Q1['Japan']

80

In [48]:
# Integer Based Location information also retained!
sales_Q1[0]

80

## Some errors in Series

Wrong Name - sales_Q1['France']

Accidental Extra Space - sales_Q1['USA ']

Capitalization Mistake - sales_Q1['usa']

## Operations

In [49]:
# Grab just the index keys
sales_Q1.keys()

Index(['Japan', 'China', 'India', 'USA'], dtype='object')

In [50]:
# Can Perform Operations Broadcasted across entire Series
sales_Q1 * 2

Japan    160
China    900
India    400
USA      500
dtype: int64

In [51]:
sales_Q2 / 100

Brazil    1.0
China     5.0
India     2.1
USA       2.6
dtype: float64

## Between Series

In [52]:
# Notice how Pandas informs you of mismatch with NaN
sales_Q1 + sales_Q2

Brazil      NaN
China     950.0
India     410.0
Japan       NaN
USA       510.0
dtype: float64

In [53]:
# You can fill these with any value you want
sales_Q1.add(sales_Q2,fill_value=0)

Brazil    100.0
China     950.0
India     410.0
Japan      80.0
USA       510.0
dtype: float64

### Practice Practice and Practice